<div class="container">
  <div class="row">
    <div class="col-md-3  genres">
      <div class=""><h3>ジャンル検索</h3></div>
      <div>
        <li>ケーキ</li>
        <li>焼き菓子</li>
        <li>プリン</li>
        <li>キャンディ</li>
      </div>
    </div>

    <div class="col-md-9 top">
      <div class="font">
        <div class="pr">
          <p>
            ようこそ、NaganoCakeへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。<br>
          </p>
        </div>
      </div>
      <div class="">
        <h2>オススメ商品</h2>
      </div>
      <div>
        <div>
            <li>商品名</li>
            <li>商品名</li>
            <li>商品名</li>
            <li>商品名</li>
        </div>
    </div>
  </div>
</div>