<div class="container">
  <div class="row">
    <h3><mark>会員一覧</mark></h3>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
         <% @customers.each do |customer|%>
        <tr>
          <td>
            <p><%= customer.id %></p>
          </td>
          <td>
               <%= link_to customer.name, admin_customer_path(customer.id), class: "show_page" %>
          </td>
          <td>
            <p><%= customer.email %></p>
          </td>
          <td>
            <p><%= customer.is_deleted == true ? "有効" : "無効" %></p>
          </td>
        </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
