// Place all the styles related to the admin/Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show_page {
  color: #000;
  font-size: 15px;
  text-decoration: underline;
}
.font_color {
  color: #a9a9a9;
}
.input-mysize {
  width: 200px;
  height: 150px;
}

.add_icon {
  color: #000;
  font-size: 40px;
  text-decoration: none;
}

