<div class="container">
  <h2>商品一覧</h2>
  <div class="flex">
  <% @items.each do |item| %>
  <div class="item">
    <%= attachment_image_tag item, :image, fallback:"no_image.jpg", size: '200x100' %>
    <p><%= link_to item.name, item_path(item.id) %></p>
    <p>¥<%= item.price %></p>
  </div>
  <% end %>
  </div>
</div>
