<div class="container">
<h2>商品一覧</h2>
<% @items.each do |item| %>
  <%= attachment_image_tag item, :image, fallback:"no_image.jpg", size: '200x100' %>
  <li><%= item.name %></li>
  <li><%= item.price %></li>
<% end %>
</div>
